name: Release Artifacts

on:
  push:
    tags:
      - 'v*' # v1.0.0 のようなタグがプッシュされた時に起動

permissions:
  contents: write

jobs:
  build:
    name: Build and Release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # ビルド対象のOSとアーキテクチャを指定
        goos: [linux, windows, darwin]
        goarch: [amd64, arm64]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Install dependencies
        run: go mod tidy

      - name: Build binary
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: |
          BINARY_NAME=agent-${{ matrix.goos }}-${{ matrix.goarch }}
          if [ "${{ matrix.goos }}" = "windows" ]; then
            BINARY_NAME="${BINARY_NAME}.exe"
          fi
          go build -v -o "$BINARY_NAME" main.go

      - name: Upload Release Artifacts
        uses: softprops/action-gh-release@v2
        with:
          files: agent-*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}